<div class="container">
  <div class="row">
    <div class=" col-6 offset-3 mb-5 mt-5">
      <div class="ui-card">

        <h1>Add a new pet!</h1>

        <div class="add-pet-form">
          <%= simple_form_for (@pet) do |f| %>
          <%= f.input :name %>
          <%= f.input :price_in_eur %>
          <%= f.input :pet_type, collection: Pet::PET_TYPES%>
          <%= f.input :description %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <div id="img-container"></div>

          <%= f.submit("create!", class: "form-actions-btn") %>

          <% end %>

          <p class="form-small-p">Disclaimer: You'll hurt your little buddy's heart just so you can earn profit off of it? What kind of human are you?</p>

        </div>

      </div>
    </div>
  </div>
</div>
