<div class="container margin-top-header-height">
  <div class="row" >
    <div class="col-12 col-md-6 details">

      <div class="img-pet">
        <%= cl_image_tag @pet.photos[0] ? @pet.photos[0].key : 'tjscfsjpv2f4jhvkd4v9', height: 300, width: 400, crop: :fill, class: 'img-thumbnail' %>
      </div>

      <div class="info">
        <div class="pet-info">
          <h2><%= @pet.name %></h2>
          <p><%= @pet.pet_type %></p>
        </div>

        <div class="owner-info">
          <%= cl_image_tag @pet.user.avatar.try(:key).present? ? @pet.user.avatar.key : '#placeholder', height: 40, width: 40, crop: :fill, class: 'avatar' %>
          <p><%= @pet.user.username %></p>
        </div>
      </div>


      <div class="pet-description">
        <%= @pet.description %>

      </div>
      <div class="pet-price">
        <h6>Price:</h6>
        <p><%= @pet.price_in_eur%> €/ per day</p>
      </div>
    </div>

    <div class="col-12 col-md-6 booking-card ui-card">
      <h6 class="booking-details"><strong><%= @pet.price_in_eur%> €/ per day</strong></h6>
      <h6 class="booking-details"><strong>Date:
      14/2/20-18/2/20</strong></h6>

      <div class="total-cost">
        <p >4 x 15€</p>
        <p > Total: 60 € </p>

      </div>


      <%= simple_form_for([@pet, @booking]) do |f| %>
      <div class="form-group">
        <%= check_box_tag :take_care_of_pet %>
        <%= label_tag(:take_care_of_pet, "I hereby declare that I can take care of a dog and give him the care that he needs during the time I take care of him.") %>
      </div>
      <div class="form-group">
        <%= check_box_tag :dont_kill_pet %>
        <%= label_tag(:dont_kill_pet, "I won’t kill #{@pet.name}.") %>
      </div>
      <div class="form-group">
        <%= check_box_tag :contact_owner %>
        <%= label_tag(:contact_owner, "I will ring the owner in case of emergency.") %>
      </div>
      <div class="form-group">
        <%= check_box_tag :agree_to_terms %>
        <%= label_tag(:agree_to_terms, "I agree with the terms of service of airbnpets (read more) ") %>
      </div>
      <div class="booking-btn">
        <%= submit_tag("Book!") %>
      </div>
      <% end %>
    </div>
  </div>
</div>
