<main class="container margin-top-header-height">
  <div class="row" >
    <div class="col-12 col-md-6 details">

      <div class="img-pet">
        <%= cl_image_tag @pet.photos[0] ? @pet.photos[0].key : 'tjscfsjpv2f4jhvkd4v9', height: 300, width: 400, crop: :fill, class: 'img-thumbnail' %>
      </div>

      <div class="info">
        <div class="pet-info">
          <h2><%= @pet.name %></h2>
          <p><%= @pet.pet_type %></p>
        </div>

        <div class="owner-info">
          <%= cl_image_tag @pet.user.avatar.try(:key).present? ? @pet.user.avatar.key : '#placeholder', height: 40, width: 40, crop: :fill, class: 'avatar' %>
          <p><%= @pet.user.username %></p>
        </div>
      </div>


      <div class="pet-description">
        <%= @pet.description %>

      </div>
      <div class="pet-price">
        <h6>Price:</h6>
        <p><%= @pet.price_in_eur%> €/ per day</p>
      </div>
    </div>
    
    <%= render 'new_booking_form', error: @error, pet: @pet, booking: @booking %>
    
</main>
