<div  class="ui-bookings-card">

  <%= cl_image_tag booking.pet.photos[0] ? booking.pet.photos[0].key : 'tjscfsjpv2f4jhvkd4v9', class: "bookings-card-image" %>

  <div style="">
    <h3><strong><%= booking.pet.name %></strong></h3>
  </div>

  <div class="d-flex align-items-center">
    <strong><%= booking.start_date.strftime('%d/%m/%Y') %></strong>
    <i style="font-size: 1.2em;" class="fas fa-arrow-right mx-2"></i>
    <strong><%= booking.end_date.strftime('%d/%m/%Y') %></strong>
  </div>

  <div style="">
    <p>You had the animal for <%= (booking.end_date - booking.start_date + 1).to_i %> days. </p>
    <%= link_to "Booked!", pet_path(booking.pet), class: "booking-status" %>
  </div>
</div>
