<main class="container">

  <h1>Welcome <%= @current_user.username %> to your bookings </h1>

  <div class="ui-bookings-card">
  <ul>
    <% @bookings.each do |booking| %>
    <li>Client: <strong><%= booking.user.username %></strong></li>
    <li>Pet Name: <strong><%= booking.pet.name %></strong></li>
    <li></li>
    <li>Start Date: <strong><%= booking.start_date.strftime('%d/%m/%Y') %></strong></li>
    <li>End Date: <strong><%= booking.end_date.strftime('%d/%m/%Y') %></strong></li>
    <% end %>
  </ul>

  <div class="booking-status">
    <p>Booked!</p>
  </div>
  </div>


</main>
