<header>
  <nav class="navbar-base navbar-collapse">
    <div class="d-flex align-items-center">
      <%= link_to root_path do %>
        <%= image_tag "tiger.svg", alt: "Tiger Illustration", height: 45 %>
      <% end %>
      <form action="/pets">
        <input class="nav-btn nav-search" type="text" name="query" placeholder="Search..">
      </form>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= link_to "Add a Pet", new_pet_path,class: 'nav-btn nav-hover' %>
        <%= link_to "Sign out", destroy_user_session_path, class: 'nav-btn nav-hover', method: :delete %>

        <span class="mx-2">Welcome <%= current_user.username %></span>
         <% if current_user.avatar.attached? %>
            <%= link_to root_path do %>
              <%= cl_image_tag current_user.avatar.key, crop: :fill, width: 30, height: 30, class: 'avatar' %>
            <% end %>
         <% end %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: 'nav-btn nav-hover' %>
        <%= link_to "Log in", new_user_session_path, class: 'nav-btn nav-hover' %>
      <% end %>
    </div>
  </nav>
</header>
